# data
data/raw/*
*.maf
*.gz
*.tar.gz

# env / build
.venv/
__pycache__/
.ipynb_checkpoints/
.DS_Store
Thumbs.db
# keep empty dirs
!data/raw/.gitkeep
!results/figures/.gitkeep
!results/tables/.gitkeep
!docs/.gitkeep
!scripts/.gitkeep
!notebooks/.gitkeep
!data/processed/.gitkeep
